.destination-row {
  margin-left: 100px;
  margin-right: 100px;
}

.destination-col {
  display: flex;
}

.destination-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.destination-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destination-card .card-title {
  margin-bottom: 10px;
}

.destination-card .card-text {
  flex-grow: 1;
  margin-bottom: 10px;
}

.destination-container {
  text-align: center;
}

.destination-content {
  margin-bottom: 30px;
}

.destination-grid {
  margin-top: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  margin-top: 20px;
}
