:root {
  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: darkblue;
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);
}

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-4);
  border-radius: 100px;
  padding: 12px 24px;
  border: 2px solid transparent;
  transition: var(--transition);
}

.btn-primary {
  border-color: var(--bright-navy-blue);
  background-color: var(--bright-navy-blue);
}

.btn-primary:is(:hover, :focus) {
  opacity: 1;
  color: var(--bright-navy-blue);
}

.btn-secondary {
  border-color: var(--white);
}

.btn-secondary:is(:hover, :focus) {
  opacity: 1;
  color: var(--bright-navy-blue);
}

.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

.section-subtitle {
  color: var(--bright-navy-blue);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
}

.section-text {
  color: var(--black-coral);
  margin-bottom: 30px;
}

.hero {
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
}

.hero-title {
  margin-bottom: 20px;
  color: var(--black);
}

.hero-text {
  color: var(--black);
  font-size: var(--fs-3);
  margin-bottom: 40px;
}

.destination-row {
  margin-left: 100px;
  margin-right: 100px;
}

.destination-col {
  display: flex;
}

.destination-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.destination-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destination-card .card-title {
  margin-bottom: 10px;
}

.destination-card .card-text {
  flex-grow: 1;
  margin-bottom: 10px;
}

.destination-container {
  text-align: center;
  margin-top: 100px;
}

.destination-content {
  margin-bottom: 30px;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  margin-top: 20px;
}
