.btn-primary {
  border-color: white;
  background-color: yellow;
  border: 10;
  color: black !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: white;
  background-color: transparent;
  border-color: none;
}

#buttonn:hover {
  color: white !important;
  border-color: white;
}

.btn {
  text-transform: uppercase;
  font-size: var(--fs-4);
  border-radius: 100px;
  padding: 12px 24px;
  transition: var(--transition);
  align-items: center;
  justify-content: center;
}

.h1,
.h2,
.h3 {
  font-weight: 700;
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
  font-size: 3rem;
}

.hero {
  position: relative;
  isolation: isolate;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
  background-image: url("https://res.cloudinary.com/dgtupimcv/image/upload/v1690181166/wallpaperflare.com_wallpaper_cd19dp.jpg");
}

.hero::after {
  content: "";
  position: absolute;
  background-color: black;
  inset: 0;
  z-index: -1;
  opacity: 0.5;
}

.hero-title {
  margin-bottom: 20px;
  margin-top: 4rem;
  color: white !important;
  font-size: 6rem;
}

.hero-text {
  color: white !important;
  font-size: var(--fs-3);
  margin-bottom: 40px;
}

.destination-row {
  margin-left: 100px;
  margin-right: 100px;
}

.destination-col {
  display: flex;
}

.destination-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.destination-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destination-card .card-title {
  margin-bottom: 10px;
}

.destination-card .card-text {
  flex-grow: 1;
  margin-bottom: 10px;
}

.destination-container {
  text-align: center;
  margin-top: 100px;
}

.destination-content {
  margin-bottom: 30px;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  margin-top: 20px;
}
