.form-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.container {
  max-width: 400px;
}

.card {
  padding: 5rem;
  margin: 0 auto;
}

.tab-content {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.nav-justified {
  margin-left: 20px;
}

.llogin,
.rregister {
  margin-left: 20px;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.btn-floating {
  font-size: 1.25rem;
  background-color: #dd4b39;
}

.btn-google {
  background-color: #4285f4;
  color: #fff;
  margin-bottom: 0.5rem;
}

.btn-block {
  display: block;
  width: 100%;
  margin-top: 0.5rem; /* Update the margin-top value */
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }

  .card {
    margin-top: 1rem;
  }
}
