:root {
  --bright-navy-blue: darkblue;
  --gunmetal: hsl(206, 34%, 20%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 {
  color: var(--gunmetal);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.section-title {
  margin-bottom: 15px;
}

.card-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
}

/* NavBar */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 55px;
  z-index: 4;
}

.header-top {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
  }
}

.header-top .logo {
  margin-inline: auto;
}

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: end;
  gap: 10px;
  color: var(--white);
}

.header-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-link {
  padding: 15px 15px;
  color: var(--black);
  font-weight: var(--fw-600);
  font-size: var(--fs-4);
}

.navbar-link:is(:hover, :focus) {
  color: gold;
}

.Navbar {
  margin-bottom: 10rem;
}
